@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

@font-face {
    font-family: 'Doodle';
    src: url('../fonts/RubikDoodleShadow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'KOMIKATBR';
    src: url('../fonts/KOMTITBR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'KOMTITP';
    src: url('../fonts/KOMTITP_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Segmono';
    src: url('../fonts/segmono_boot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }